<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MCLTEST" connectionString="Server=WTHMCLBILL;Database=MCLTEST;Trusted_Connection=True;" />
    <add name="MCLLIVE" connectionString="Server=WTHMCLBILL;Database=MCLLIVE;Trusted_Connection=True;" />
    <add name="ViewerX12.Properties.Settings.MCLTESTConnectionString"
      connectionString="Data Source=WTHMCLBILL;Initial Catalog=MCLTEST;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Posting835Remittance.Properties.Settings.MCLTESTConnectionString"
      connectionString="Data Source=wthmclbill;Initial Catalog=MCLTEST;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MCLTESTConnectionString" connectionString="Data Source=wthmclbill;Initial Catalog=MCLTEST;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LabBilling.Properties.Settings.MCLTESTConnectionString"
      connectionString="Data Source=wthmclbill;Initial Catalog=MCLTEST;Integrated Security=True" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>