<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\nlog-internal.txt"
      internalLogToConsole="true"
      autoReload="true"
      throwExceptions="true">

  <variable name="appName" value="LabBilling" />

  <targets async="true">
    <target xsi:type="File"
            name="default"
            layout="${longdate}|${level:uppercase=true}|${hostname}|${environment-user}|${logger}|${callsite}|${callsite-filename}|${callsite-linenumber}|${message:withexception=true}|${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
            fileName="c:\temp\LabBilling-Debug.log"
            keepFileOpen="false"
            archiveFileName="c:\temp\LabBilling-Debug_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />

    <target xsi:type="EventLog"
            name="eventlog"
            log="${appName}"
            source="${appName}"
            eventId="${event-properties:EventId:whenEmpty=0}"
            layout="${message}${newline}${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
  </targets>
  <rules>
    <logger name="*" writeTo="default" minlevel="Trace" />
    <logger name="*" writeTo="eventlog" minlevel="Info" />
  </rules>
</nlog>