@page "/admin/account-locks"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "DatabaseUser")]

<PageTitle>Account Locks - Lab Patient Accounting</PageTitle>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <h3><span class="oi oi-ban"></span> Account Locks</h3>
        </div>
    </div>

    <div class="alert alert-info">
        <h5>Coming Soon</h5>
        <p>This page will display and manage locked accounts and editing conflicts.</p>
    </div>
</div>

@code {
    // Account locks management functionality will be implemented in future phases
}
