@page "/dictionaries/insurance-plans"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "DatabaseUser")]

<PageTitle>Insurance Plans - Lab Patient Accounting</PageTitle>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <h3><span class="oi oi-medical-cross"></span> Insurance Plans</h3>
        </div>
    </div>

    <div class="alert alert-info">
        <h5>Coming Soon</h5>
        <p>This page will manage insurance plans, payers, and plan details.</p>
    </div>
</div>

@code {
    // Insurance plans management functionality will be implemented in future phases
}
