@page "/billing/claims"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "DatabaseUser")]

<PageTitle>Claims - Lab Patient Accounting</PageTitle>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <h3><span class="oi oi-spreadsheet"></span> Claims Management</h3>
        </div>
    </div>

    <div class="alert alert-info">
        <h5>Coming Soon</h5>
        <p>This page will provide claim batch management and electronic claims submission.</p>
    </div>
</div>

@code {
    // Claims management functionality will be implemented in future phases
}
