<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ViewerX12.Properties.Settings.MCLTESTConnectionString" connectionString="Data Source=WTHMCLBILL;Initial Catalog=MCLTEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Posting835Remittance.Properties.Settings.MCLTESTConnectionString" connectionString="Data Source=wthmclbill;Initial Catalog=MCLTEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>

    <add key="TestTargetServer1" value="MCLBILL"/>
    <add key="TestTargetServer2" value="LABLIS5"/>
    <add key="TestTargetServer3" value="LABLIS4"/>
    <add key="TestTargetServer3" value="LABLIS16"/>
    <add key="TestTargetServer4" value=""/>
    <add key="LiveTargetServer1" value="MCLBILL"/>
    <add key="LiveTargetServer2" value="LABFORD1"/>
    <add key="LiveTargetServer3" value="LABLIS4"/>
    <add key="LiveTargetServer3" value="LABLIS16"/>
    <add key="LiveTargetServer4" value=""/>
  <!--Posting835Remittance-->
    <add key="TestPosting835RemittanceDataBaseServer" value="MCLBILL"/>
    <add key="TestPosting835RemittanceDataBase" value="MCLTEST"/>
    <add key="LivePosting835RemittanceDataBaseServer" value="MCLOE"/>
    <add key="LiveTestPosting835RemittanceDataBase" value="GOMCLLIVE"/>
    <!--end of Posting835Remittance-->

    <add key="LiveERRDataBaseServer" value="MCLBILL"/>
    <add key="LiveERRDataBase" value="MCLLIVE"/>
    <add key="TestERRDataBaseServer" value="MCLBILL"/>
    <add key="TestERRDataBase" value="MCLTEST"/>

    <!-- %APP_DIR% defaults to c:\temp\"Application's name and .log" via the ERR class
    <add key="LiveERRLogTextFile" value="%APP_DIR%" />
    <add key="LiveERRLogSaveFile" value="%APP_DIR%" />
    <add key="TestERRLogTextFile" value="%APP_DIR%" />
    <add key="TestERRLogSaveFile" value="%APP_DIR%" />
    -->
    <!--Add the file name here to ensure we know what file we are using.
    ERR will not add a default application name using its propAppName-->
    <!--<add key="LiveERRLogTextFile" value="M:\LIVE\SPOOL\Posting835Remittance.log" />
    <add key="LiveERRLogSaveFile" value="M:\LIVE\SPOOL\SAVE\Posting835Remittance.log" />
    <add key="TestERRLogTextFile" value="M:\TEST\SPOOL\Posting835Remittance.log" />
    <add key="TestERRLogSaveFile" value="M:\TEST\SPOOL\SAVE\Posting835Remittance.log" />-->
    <add key="LiveERRLogTextFile" value="C:\TEMP\SPOOL\Posting835Remittance.log"/>
    <add key="LiveERRLogSaveFile" value="C:\TEMP\SPOOL\SAVE\Posting835Remittance.log"/>
    <add key="TestERRLogTextFile" value="C:\TEMP\SPOOL\TestPosting835Remittance.log"/>
    <add key="TestERRLogSaveFile" value="C:\TEMP\SPOOL\SAVE\TestPosting835Remittance.log"/>


    <!--For adding list type items set the last value to "" (empty)-->
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
