<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lab_Patient_Accounting_Job_Schduler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Lab_Patient_Accounting_Job_Schduler.Settings>
            <setting name="DbServer" serializeAs="String">
                <value>WTH014</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>LabBillingProd</value>
            </setting>
            <setting name="LogDbName" serializeAs="String">
                <value>NLog</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>interface</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>0ac%%$ff0100a</value>
            </setting>
        </Lab_Patient_Accounting_Job_Schduler.Settings>
    </applicationSettings>
</configuration>